@page "/Message"
@using BlazorApp.Client.State
@using BlazorApp.Shared
@inject UserState UserState
@inject MessageState MessageState
@inject BbrService BbrService

<h3>Messages</h3>

@if (UserState.CurrentUser is null)
{
    <p>Choose a username first...</p>
    <a href="login">Go to Login Page</a>
}
else if (MessageState.Messages is null)
{
    <p>Loading messages...</p>
}
else
{
    <MudContainer>
        <!-- display the messages -->
        <MudPaper>
            @foreach (var msg in MessageState.Messages)
            {
                var position = msg.UserName == UserState.CurrentUser
                    ? ChatBubblePosition.End
                    : ChatBubblePosition.Start;
                <MudChat ChatPosition="position">
                    @if (msg.UserName != UserState.CurrentUser)
                    {
                        <MudChatHeader Name="@msg.UserName"/>
                    }
                    <MudChatBubble>
                        @msg.MessageText
                    </MudChatBubble>
                </MudChat>
            }
        </MudPaper>
        <!-- display the input field and button -->
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudForm>
                <MudTextField @bind-Value="_currentMessageText"
                              Placeholder="Enter your message..."
                              AutoGrow="false"
                              Variant="Variant.Outlined"
                              InputType="InputType.Text"
                              Id="message"
                              Name="message"/>
            </MudForm>
            <MudButton @onclick="SendMsg" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
        </MudStack>
    </MudContainer>
}

@code {
    string _currentMessageText = "";

    // call the send message method, reset the message input str
    private async Task SendMsg()
    {
        await MessageState.SendMessage(_currentMessageText);
        _currentMessageText = "";
    }

    // load the existing messages if there are some
    protected override async Task OnInitializedAsync()
    {
        if (MessageState.Messages is null)
        {
            await MessageState.LoadMessages();
        }

        BbrService.OnMessageReceived += HandleMessageReceived;
        await BbrService.InitializeAsync();
    }

    void HandleMessageReceived(Message message)
    {
        Console.WriteLine("Message received: " + message.MessageText);
        // InvokeAsync(async () => { StateHasChanged(); });
    }

}