@page "/Message"
@using BlazorApp.Client.State
@using BlazorApp.Shared
@inject UserState UserState
@inject MessageState MessageState
@inject BbrService BbrService

<h3>Messages</h3>

@if (UserState.CurrentUser is null)
{
    <p>Choose a username first...</p>
    <a href="login">Go to Login Page</a>
}
else if (MessageState.Messages is null)
{
    <p>Loading messages...</p>
}
else
{
    <MudContainer>
        <!-- display the messages -->
        <MudPaper>
            @foreach (var msg in MessageState.Messages)
            {
                var position = msg.UserName == UserState.CurrentUser
                    ? ChatBubblePosition.End
                    : ChatBubblePosition.Start;
                <MudChat ChatPosition="position">
                    @if (msg.UserName != UserState.CurrentUser)
                    {
                        <MudChatHeader Name="@msg.UserName"/>
                    }
                    <MudChatBubble>
                        @msg.MessageText
                    </MudChatBubble>
                </MudChat>
            }
        </MudPaper>
        <!-- display the input field and button -->
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudForm>
                <MudTextField Value="@_currentMessageText"
                              T="string"
                              ValueChanged="s => OnMessageTextChanged(s)"
                              Placeholder="Enter your message..."
                              AutoGrow="false"
                              Variant="Variant.Outlined"
                              InputType="InputType.Text"
                              Id="message"
                              Name="message"
                              Immediate="true"/>
            </MudForm>
            <MudButton @onclick="SendMsg" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
        </MudStack>
    </MudContainer>
}

@code {
    string _currentMessageText = "";
    string _currentDraftGuid = Guid.NewGuid().ToString();

    // called whenever the text field value changes
    private async Task OnMessageTextChanged(string value)
    {
        Console.WriteLine("Message text changed: " + value);
        _currentMessageText = value;
        await BbrService.BroadcastMessageUpdateAsync(new MessageUpdate()
        {
            Id = _currentDraftGuid,
            MessageText = _currentMessageText,
            UserName = UserState.CurrentUser
        });
        await Task.CompletedTask;
    }

    // call the send message method, reset the message input str
    private async Task SendMsg()
    {
        await MessageState.SendMessage(_currentMessageText, _currentDraftGuid);
        _currentDraftGuid = Guid.NewGuid().ToString();
        _currentMessageText = "";
    }

    // load the existing messages if there are some
    protected override async Task OnInitializedAsync()
    {
        if (MessageState.Messages is null)
        {
            await MessageState.LoadMessages();
        }

        BbrService.OnMessageUpdate += HandleMessageUpdate;
        await BbrService.InitializeAsync();
        Console.WriteLine("BBR service initialized in MessagePage.");
    }

    void HandleMessageUpdate(MessageUpdate message)
    {
        Console.WriteLine("Message received: " + message.MessageText);
        MessageState.ProcessUpdateMessage(message);
        StateHasChanged();
    }

}