@page "/Message"
@using System.Net
@using BlazorApp.Shared
@inject HttpClient Http
<h3>Message</h3>

    @foreach (var msg in messages)
    {
        var position = msg.UserName == currentUserName
            ? ChatBubblePosition.End
            : ChatBubblePosition.Start;
        <MudChat ChatPosition="position">
            <MudChatHeader Name="@msg.UserName" />
            <MudChatBubble>
                @msg.MessageText
            </MudChatBubble>
        </MudChat>
    }

<MudTextField @bind-Value="currentMessageText"
              Placeholder="Enter your message..."
              Variant="Variant.Outlined"
              InputType="InputType.Text"
              Id="message"
              Name="message" />
<MudButton @onclick="SendMessage" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>


@code {
    List<Message> messages = [];
    string currentMessageText = "";
    string currentUserName = "user1";
    
    protected override async Task OnInitializedAsync()
    {
        var resp = await Http.GetFromJsonAsync<Message[]>("http://localhost:7071/api/message") ?? Array.Empty<Message>();
        messages = resp.ToList();
    }

    private async Task SendMessage()
    {
        if (currentMessageText == "") return;
        string url = $"http://localhost:7071/api/message?UserName={Uri.EscapeDataString(currentUserName)}&MessageText={Uri.EscapeDataString(currentMessageText)}";
        try
        {
            var resp = await Http.PostAsync(url, null);
            if (resp.StatusCode != HttpStatusCode.OK) return;
            messages.Add(new Message(currentUserName, currentMessageText));
            currentMessageText = "";
        }
        catch (Exception ex)
        {
            return;
        }
    }
}